<configuration>
	<location path="~/NotAuthenticated/SignUp.aspx">
		<system.web>
			<authorization>
				<allow users="*"/>
			</authorization>
		</system.web>
	</location>
	<location path="~/Account/RecoverPassword.aspx">
		<system.web>
			<authorization>
				<allow users="?"/>
			</authorization>
		</system.web>
	</location>
	<system.web>
		<authorization>
			<deny users="?"/>
		</authorization>
	</system.web>
</configuration>